/* GENERAL SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

p, strong, span, h1,h2,h3, a, i, li{
    font-family: "Open Sans", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

img{
    width: 100%;
}

.flex{
    display: flex;
}

/* NAVBAR */
header{
    background-color: #2C3E50;
    color: white;
    text-transform: uppercase;
}

.navbar{
    justify-content: space-between;
    padding: 20px 30px;
}

.menu{
    gap: 20px;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

/* HERO SECTION */

main{
    background-color:#1ABC9C ;
    text-transform: uppercase;
}

main img{
    width: 55%;
}

.hero-container{
    justify-content: center;
    align-items: center;
}

.hero{
   padding: 60px 30px; 
   color: white;
   gap: 20px;
   flex-direction: column;
   align-items: center;
}

.skills{
    gap: 20px;
    font-size: 1.5rem;
}

.skills li{
    position: relative;
}

.skills li::before{
    content:"" ;
    display: table;
    position: absolute;
    top: 50%;
    right: -14px;
    width: 8px;
    height: 1.5px;
    background-color: white;
}

.skills .no-before::before{
    display: none;
}

.hero-title{
    font-size: 3.5rem;
}
