/* GENERAL SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

p, strong, span, h1,h2,h3, a, i, li{
    font-family: "Open Sans", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

section{
    padding:20px 10px;
}

img{
    width: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

/* NAVBAR */
header{
    background-color: #2C3E50;
    color: white;
    text-transform: uppercase;
}

.navbar{
    justify-content: space-between;
    padding: 20px 30px;
}

.title{
    font-size:1rem ;
}

.icon-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
}

.bars{
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 4px;
}

.menu{
    gap: 20px;
    align-items: center;
}

.menu {
    display: none;
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* HERO SECTION */

main{
    background-color:#1ABC9C ;
    text-transform: uppercase;
}

main img{
    width: 40%;
}

.hero-container{
    justify-content: center;
    align-items: center;
}

.hero{
   padding: 40px 20px; 
   color: white;
   gap: 20px;
   flex-direction: column;
   align-items: center;
}

.skills{
    gap: 20px;
    font-size: 14px;
}

.skills li{
    position: relative;
}

.skills li::before{
    content:"" ;
    display: table;
    position: absolute;
    top: 50%;
    right: -14px;
    width: 8px;
    height: 1.5px;
    background-color: white;
}

.skills .no-before::before{
    display: none;
}

.hero-title{
    font-size: 1.5rem;
}

/* MAIN SECTION */

section{
    background-color: white;
}

.sec-title{
    justify-content: center;
    padding: 10px 0px;
    font-weight: bold;   
    gap: 10px; 
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col{
    display: flex;
    width: 100%;
    gap: 100px;
}
.card{
    width: 100%;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.parag{
    width: 50%;
}

.download{
    text-decoration: none;
    color: white;
    gap: 4px;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
}


/* MEDIA */
@media (min-width: 575.98px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
