/* GENERAL SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

p, strong, span, h1,h2,h3, a, i, li, input, textarea{
    font-family: "Open Sans", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

section{
    padding:20px 10px;
}

img{
    width: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

/* NAVBAR */
header{
    background-color: #2C3E50;
    color: white;
    text-transform: uppercase;
}

.navbar{
    justify-content: space-between;
    padding: 20px 10px;
}

.title{
    font-size:1rem ;
}

.icon-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
}

.star{
    position: relative;
}


.bars{
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 4px;
}

.menu{
    gap: 20px;
    align-items: center;
}

.menu {
    display: none;
}


.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.star::before{
    display: table;
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 48px;
    top: 50%;
    right: -55px;
}

.star::after{
    display: table;
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 48px;
    top: 50%;
    left: -55px;
}

.portfolio-container{
    flex-direction: column;
    align-items: center;

}

.black-star{
    position: relative;
    padding: 15px 0px;
}

.black-star::before{
    display: table;
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 48px;
    top: 50%;
    right: -55px;
}

.black-star::after{
    display: table;
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 48px;
    top: 50%;
    left: -55px;
}



/* HERO SECTION */

main{
    background-color:#1ABC9C ;
    text-transform: uppercase;
}

main img{
    width: 40%;
}


.hero-container{
    justify-content: center;
    align-items: center;
}

.hero{
   padding: 40px 20px; 
   color: white;
   gap: 20px;
   flex-direction: column;
   align-items: center;
}

.skills{
    gap: 20px;
    font-size: 12px;
}

.skills li{
    position: relative;
}

.skills .no-before::before{
    display: none;
}

.hero-title{
    font-size: 1.5rem;
}

/* MAIN SECTION */

section{
    background-color: white;
}

.sec-title{
    justify-content: center;
    padding: 10px 0px;
    font-size: medium; 
    font-weight: bold;  
    gap: 10px; 
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}


.card{
    width: 100%;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.about-text{
    width: 75%;
    text-transform: none;
}

.btn{
    text-decoration: none;
    color: white;
    gap: 4px;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

/* CONTACT */
.input{
    width: 70%;

    flex-direction: column;
    gap: 5px;
}

.input input, textarea{
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    border-color: gray;
}

::placeholder{
    color: black;
}

.sub{
    background-color:#1ABC9C ;
    border: none !important;
    border-radius: 3px;
    display: flex;
    width: 20%;
    color: white;
}

.contact-container{
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

footer{
    background-color:#3A546D ;
    padding: 20px ;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.f-title{
    justify-content: center;
    font-weight: 200;
    text-transform: uppercase;
}

.content{
    color: white;
    justify-content: center;
    gap: 5px;
    padding: 15px 20px;
}

.loc{
    font-size: 15px;
}

.social{
    flex-direction: column;
}

.logo{
    justify-content: center;
    gap: 20px;
}

.fa-brands{
    border: 1px solid;
    border-radius: 50%;
    padding: 15px 18px;
    width: 20px ;
    height: 20px;
    aspect-ratio: 1/1;
}







/* MEDIA */
@media (max-width: 575.98px) {
.skills{
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    /* NAVBAR */
    .bars{
        display: none;
    }

    .menu{
        display: flex;
    }

    .navbar{
        padding: 20px 60px;
    }

    /* HERO */

    .hero-title{
        font-size: 3rem;
    }

    main img{
        width: 60%;
    }

    .star{
        font-size: 20px;
    }

    .star::before{
        display: table;
        content: "";
        position: absolute;
        background-color: white;
        height: 4px;
        width: 100px;
        top: 50%;
        right: -120px;
    }
    
    .star::after{
        display: table;
        content: "";
        position: absolute;
        background-color: white;
        height: 4px;
        width: 100px;
        top: 50%;
        left: -120px;
    }

    .skills{
        font-size: 20px;
    }

    .skills li::before{
        content:"" ;
        display: table;
        position: absolute;
        top: 50%;
        right: -14px;
        width: 8px;
        height: 1.5px;
        background-color: white;
    }

    /* PORTFOLIO */

    section{
        padding:20px 60px;
    }

    .sec-title{
        padding: 40px 0px 0px;
        font-size: 40px; 
        font-weight: bold;  
        gap: 10px; 
    }

    .black-star::before{
        display: table;
        content: "";
        position: absolute;
        background-color: black;
        height: 4px;
        width: 100px;
        top: 50%;
        right: -120px;
    }
    
    .black-star::after{
        display: table;
        content: "";
        position: absolute;
        background-color: black;
        height: 4px;
        width: 100px;
        top: 50%;
        left: -120px;
    }
    
    .row{
        display: flex;
       justify-content: space-between;
    }
    
    .col{
        width:calc( (100% / 12) * 6 - 10px);
    }

    
    .card img{
        width: 100%;
        border-radius: 8px;
    }

    
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
